<div ng-include="'views/nav.html'"></div>
</br>
</br>

<div class="row-fluid">
  
  <div class="col-xs-3 col-md-4">
    <div class="well
    ">
      <h1>Manage Posts</h1>
        <div class="btn-group-vertical">
          <a class="btn btn-warning" ui-sref="admin.newPost">New Post</a>
          <a class="btn btn-primary" ui-sref="admin.list">View Posts</a>
          <!-- <button class="btn btn-info">Save Post</button> -->
  
        </div>  
    </div>
  </div>

  <div class="col-xs-6 col-md-8">
    <div class="well">
    <!-- this needs to be a state -->
      <div ui-view></div>
    <!-- this needs to be a state -->
    </div>
  </sdiv>
  
</div>