<nav-oauth links="home about contact admin" brand="SobDotCom" alias='{"home": "/"}'>
</nav-oauth>
<br>
<br>
<br>
<br>

<div class="row-fluid">
  
  <div class="col-xs-3 col-md-4">
    <div class="well
    ">
      <h1>Manage Posts</h1>
        <div class="btn-group-vertical">
          <button class="btn btn-primary">New Post</button>
          <!-- <button class="btn btn-info">Save Post</button> -->
  
        </div>  
    </div>
  </div>

  <div class="col-xs-6 col-md-8">
    <!-- this needs to be a state -->
    <div ng-repeat="post in posts" class="well" ng-click="selectPost">
      <h1>{{post.name}}!</h1>
      <span ng-repeat="tag in post.tags" class="label label-success tags">{{tag}}</span>
    </div>
    <!-- end state -->

  </div>
</div>