
<nav-oauth links="home about contact admin" brand="SobDotCom" alias='{"home": "/"}'>
</nav-oauth>
</br>
</br>
</br>
</br>




<div class="row-fluid">
  
  <div class="col-xs-6 col-md-4">
    <div class="well
    ">
      <h1>'Allo, 'Allo {{currentUser.name}}!</h1>
      <p class="lesad">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="well">
      <h1>'Allo, 'Allo {{currentUser.name}}!</h1>
      <p class="lesad">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
    </div>
  </div>
</div>


