<div ng-include="'views/nav.html'"></div>
</br>
</br>

<div class="row-fluid">
  

  <div class="col-xs-12 col-md-12">
    <div class="well">
      <div ng-repeat="post in posts" class="panel panel-primary">
  
        <div class="panel-heading">
          <h3 class="panel-title">{{post.name}}</h3>
        </div>
        <div class="panel-body">

          <div ng-bind-html='post.content' ></div>

          <span ng-repeat="tag in post.tags" class="label label-success tags">
            {{tag}}
          </span>
          
        </div>
      </div>    
    </div>
  </div>

</div>


