  <div class="row" style="height:70px;">
  <div class="col-xs-12 col-md-12" ng-include="'views/nav.html'"></div>
</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Sobrina Tung</h1>
        <p>I really like Meeping about Cute things. And also I want to teach people to write better.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">



            <h3>FASHION & LIFESTYLE BLOG</h3>
            <p>I really Like Meeping about Cute Things on My Blog. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          <div class="thumbnail">
            <img src="http://www.sobrinatung.com/_/rsrc/1307909630753/writing-samples/Screen%20shot%202011-06-12%20at%201.13.13%20PM.png" alt="qlh.com">
          </div>
          
        </div>
        <div class="col-md-4">
          <h3>PRINT MAGAZINE, WRITING</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          <div class="thumbnail">
            <img src="http://www.sobrinatung.com/_/rsrc/1307913426288/writing-samples/Screen%20shot%202011-06-12%20at%202.16.35%20PM.png">
          </div>
       </div>
        <div class="col-md-4">
          <h3>CORPORATE MARKETING/COPYWRITING</h3>
          <p>I made cute things and meeping noises for many companies</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>

          <div class="thumbnail">        
            <img border="0" src="http://www.sobrinatung.com/_/rsrc/1307914445359/writing-samples/Screen%20shot%202011-06-12%20at%202.33.49%20PM.png">

          </div>
          <div class="thumbnail">        
            <img border="0" src="http://www.sobrinatung.com/_/rsrc/1307914597662/writing-samples/Screen%20shot%202011-06-12%20at%202.36.13%20PM.png">

          </div>
          <div class="thumbnail">        
            <img border="0" src="http://www.sobrinatung.com/_/rsrc/1307914654233/writing-samples/Screen%20shot%202011-06-12%20at%202.37.02%20PM.png">

          </div>


        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Sobrina Tung 2014</p>
      </footer>